@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/color' as *;
@import '~bootstrap/scss/bootstrap';

.project {
    padding-bottom: 2rem;

    &__container {
        margin: 0 auto;
        max-width: 48rem;
    }

    &__title {
        font-size: 2.2rem;
        margin-bottom: 1.5rem;
    }

    &__image-container {
        margin-bottom: 1.5rem;
    }

    &__image {
        width: 100%;
        height: 100%;
    }

    &__description {
        font-size: 1.4rem;
    }

    &__links {
        margin-bottom: 1rem;
    }

    &__link {
        font-size: 1.4rem;
        font-weight: 600;
        margin-right: 0.2rem;
        border: 0.1rem solid black;
        border-radius: 0.2rem;
        padding: 0.2rem;
        background-color: $secondary-color;
        transition: all 0.3s;

        &:hover {
            background-color: #000;
            color: $primary-color-light;
        }
    }

    &__techstacks {
        display: flex;
        flex-wrap: wrap;
    }

    &__techstack {
        font-size: 1.2rem;
        color: $primary-color-light;
        margin-top: 0.2rem;
        margin-right: 0.2rem;
        border: 0.1rem solid black;
        border-radius: 0.2rem;
        padding: 0 0.1rem;
        cursor: default;
        background-color: #000;
        transition: all 0.3s;

        &:hover {
            background-color: $secondary-color;
            color: #000;
        }
    }
}