@use '../../styles/partials/mixin' as *;

.menu {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 0;
    background-color: white;
    box-shadow: 0 0.1rem 0.9rem 0 grey;
    z-index: 5;
    
    &__icon {
        margin: 1rem 2rem 1rem 0;
        cursor: pointer;

        @include tablet {
            display: none;
        }
    }
}