@font-face {
    font-family: "Comfortaa";
    src: url("../../assets/fonts/Comfortaa-VariableFont_wght.ttf") format("TrueType");
}

@font-face {
    font-family: "Quicksand";
    src: url("../../assets/fonts/Quicksand-VariableFont_wght.ttf") format("TrueType");
}