@use '../../styles/partials/mixin' as *;

.hero {
    padding-top: 2rem;
    background-color: #FFD966;

    &__container {
        max-width: 68.8rem;
        margin: 0 auto;
    }

    &__image-container {
        display: flex;
        justify-content: center;
    }

    &__image {
        display: flex;
        justify-content: center;
        border: 0.1rem solid black;
        border-radius: 50%;
        height: 28rem;
        width: 28rem;
        background-image: url("../../assets/images/avatar6.png");
        background-position: center;
        background-size: contain;

    }

    &__title {
        font-size: 4rem;
        margin: 2rem 2.5rem 1rem 2.5rem;
        font-weight: 700;
    }

    &__text {
        margin: 0 2.5rem 0 2.5rem;
        font-size: 2.2rem;
    }
}