@use '../../styles/partials/mixin' as *;

.about {
    &__divider {
        padding-bottom: 3.5rem;
        background-color: #FFD966;
    }

    &__text-container {
        margin: 0 2.5rem;
        padding-top: 3.5rem;
    }

    &__title {
        font-size: 3.2rem;
        margin-bottom: 2rem;
    }

    &__text {
        margin-bottom: 2rem;
    }
}