@use '../../styles/partials/mixin' as *;

.about {

    &__text-container {
        margin: 0 2.5rem;
        padding-top: 7rem;
    }

    &__title {
        font-size: 3.2rem;
        margin-bottom: 2rem;
    }

    &__text {
        margin-bottom: 2rem;
    }
}