@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/color' as *;

.about {
    background-color: $primary-color-light;

    &__divider {
        padding-bottom: 3.5rem;
        background-color: $primary-color-dark;

        @include tablet {
            padding-bottom: 4.1rem;
        }
    }

    &__container {
        max-width: 68.6rem;
        margin: 0 auto;

        @include tablet {
            @include desktop-sizing;
        }
    }

    &__text-container {
        margin: 0 2.5rem;
        padding-top: 3.5rem;

        @include tablet {
            margin: 0 4rem;
            padding-top: 4.1rem;
        }
    }

    &__title {
        font-size: 3.2rem;
        font-weight: 600;
        margin-bottom: 2rem;

        @include tablet {
            font-size: 4.2rem;
            margin-bottom: 2.5rem;
        }
    }

    &__text {
        margin-bottom: 2rem;
        font-size: 1.4rem;

        @include tablet {
            font-size: 1.8rem;
            margin-bottom: 2.5rem;
        }
    }
}