@use '../../styles/partials/mixin' as *;

.tech-stack {
    max-width: 10rem;
    border-radius: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    transition: box-shadow 0.5s;

    &:hover {
        box-shadow: 0.5rem 0.5rem 0.9rem 0 grey;
    }

    &__image {
        width: 50%;
        padding-top: 0.5rem;
    }

    &__name {
        margin: 1rem 0;
        font-size: 1.4rem;
    }
}