@use '../../styles/partials/mixin' as *;

.tech-stack {
    width: 40%;
    height: 40%;
    max-width: 10rem;
    // border: 0.1rem black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

    &__image {
        width: 50%;
        height: 50%;
        // border: 0.1rem red solid;
    }

    &__name {
        margin: 1rem 0;
    }
}