@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/color' as *;

.contact {
    padding-top: 3.5rem;

    @include tablet {
        padding-top: 4.1rem;
    }

    &__divider {
        padding-bottom: 3.5rem;
        background-color: $primary-color-dark;

        @include tablet {
            padding-bottom: 4.1rem;
        }
    }

    &__container {
        margin: 0 auto;
        max-width: 73.8rem;

        @include tablet {
            @include desktop-sizing;
        }
    }

    &__title {
        font-size: 3.2rem;
        font-weight: 600;
        margin: 0 2.5rem 2rem 2.5rem;

        @include tablet {
            font-size: 4.2rem;
            margin: 0 4rem 2.5rem 4rem;
        }
    }

    &__image-container {
        display: flex;
        justify-content: center;
    }

    &__image {
        width: 100%;
        max-width: 30rem;

        @include tablet {
            max-width: 36rem;
        }
    }

    &__text-container {
        margin: 0 2.5rem;

        @include tablet {
            margin: 0 4rem;
        }
    }

    &__text {
        margin-bottom: 1.5rem;
        font-size: 1.4rem;

        @include tablet {
            margin-bottom: 2rem;
            font-size: 1.8rem;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        max-width: 36rem;
        margin-bottom: 1.5rem;
        border: 0.2rem solid black;
        border-radius: 0.5rem;
        background-color: $secondary-color;
        transition: all 0.3s;

        &:hover {
            background-color: #000;
            color: $primary-color-light;
        }

        @include tablet {
            margin-bottom: 2rem;
        }
    }

    &__link-text {
        margin-left: 0.5rem;
        font-weight: 600;

        @include tablet {
            font-size: 2rem;
            margin-left: 0.8rem;
        }
    }

    &__link-image {
        width: 3.6rem;
        height: 3.6rem;
        margin-right: 0.5rem;
        transition: filter 0.3s;

        &--hover {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(73deg) brightness(105%) contrast(104%);
        }

        @include tablet {
            width: 4rem;
            height: 4rem;
            margin-right: 0.8rem;
        }
    }
}