@use '../../styles/partials/mixin' as *;

.menu-modal {
    display: flex;
    justify-content: center;
    border: 0.1rem solid black;
    height: 100vh;
    width: 50%;
    z-index: 5;
    position: absolute;

    @include tablet {
        display: none;
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;
    }

    &__link {
        margin-bottom: 1.5rem;
    }
}